html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body{
    background-color: black;
}
div{
    background-image: url(
        imagens/backgorund.png
    );
    background-size: cover;
    width: 400px;
    height: 200px;
    margin: auto;
    margin-top: 10%;
    padding: 1px 10px;
    text-transform: uppercase;
    box-sizing: border-box;
}
#um{
    list-style-image: url(imagens/Insta.png);
}
#dois{
    list-style-image: url(imagens/Twitter.png);
}
#tres{
    list-style-image: url(imagens/Youtube.png);
}
a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
ol{
    padding-bottom: 7px;
}