* {
    
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 55; 
    margin: 0;
    padding: 0;
}

html{

    background-color: rgb(52, 190, 190);
}

main {

    margin: auto;
    margin-top: 1%;
    background-color: white;
    max-width: 800px;
    width: 80%;
    border-radius: 1%;
}

label {
    
    font-size: 16px;
    display: block;
    margin-bottom: 2%;
}

input {

    border: 0;
    outline: 0;
    color: rgb(20, 20, 20);
    border-bottom: 2px solid rgb(200, 200, 200);
    font-size: 100%;

}

input[type=text]:valid, 
input[type=email]:valid,
input[type="text"]:hover,
input[type="email"]:hover {
    
    border-bottom: 2px solid cornflowerblue;
}

#cabeçalho {

    background-color: rgba(96, 96, 226, 0);
    margin-bottom: 5%;

}

#cabeçalho-p1 {

    display: inline-block;

}


#cabeçalho-p1 label {

    margin:10% 0% 10% 2%;
    transition: 0.5s ease-in-out;
}

div#cabeçalho-p1 label[for=nome] {

    font-size: 130%;
}

div#cabeçalho-p1 label[for=profissao] input {

    width: 80%;
    font-size: 110%;
    

}

#cabeçalho-p2 {

    display: inline-block;
    float: right;
    background-color: #7fffd400;
    
}

#cabeçalho-p2 label {

    margin: 2% 5% 2% 20%;
}


#resumo-p1 {

    max-width: 40%;

}

#exp {

    margin: 1% 0 0 1%;
    padding: 1% 0 0 0;
    background-color: rgba(52, 52, 219, 0);
}

#exp-p1 {

    float: left;
    position: relative;
    display: inline-block;
    top: 10pt;
    margin: 1% 0 1% 1%;
    background-color: rgba(68, 224, 89, 0)
}

#exp-p2 {

    position: relative;
    display: inline-block;
    margin: 1% 0 1% 1%;
    background-color: rgba(165, 81, 42, 0);
    
}

.botoes {

    display: inline-block;
    background-color: rgba(127, 255, 212, 0);

}

.botoes label {

    margin-bottom: 20%;
}

#formacao {
    
    margin: 1% 0 0 1%;
    padding: 1% 0 0 0;
}

#formacao-p1 {

    display: inline-block;
    float: left;
    margin: 1% 0 1% 1%;
}

#formacao-p2 {

    position: relative;
    display: inline-block;
    margin: 1% 0 1% 1%;
}


.campo {

    padding: 0 0 0 1%;

}




