html{
    background-color: #775b5baf;
    font-family:Arial, Helvetica, sans-serif
}

th{
    border: 2px solid;
    box-sizing: border-box;
    background-color: #f3c4c4dc;
    border-radius: 6px;
}

td{
    border: 1.5px solid;
    box-sizing: border-box;
    font-weight: 600;
    background-color: #f7f4f4c4;
    border-radius: 5px;
    padding-left: 5px;
}


ol{
    background-color: #f7f4f4f6;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 240px;
    box-sizing: border-box;
}

li{
    border: 1px black solid ;
    padding-left: 10px;
    margin: 10px;
    width: 200px;
    box-sizing: border-box;
    background-color: rgba(228, 219, 211, 0.836);
    border-radius: 10px;
    list-style-position: inside
    ;
}

#corpo{
    background-color: rgb(245, 241, 238);
    width: 50vw;
    height: 95vh;
    margin: auto;
    padding: 15px;
    border: 3px;
    border-radius: 25px;
    border-style: solid;
    border-color: #dfc0c0;
    box-sizing: border-box;
    overflow: auto;
}
