*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
}

header{
    background-color: #4BC5CE;
    color: white;
    text-align: center;
    padding: 10px;

}
.title{
    font-size: 25px;
 
}
#fotao{
    max-width: 1000px;
    max-height: 600px;
    margin: auto;
}
.sectinha1{
    padding: 20px;
    background-image: url(../images/people.jpg);
    background-size: cover;
    overflow: hidden;

}
#divinha{
    max-width: 230px;
    padding: 20px;
    float: right;
    background-color: rgba(252, 249, 252, 0.555);
}
h2{
    font-size: 18px;
}

.mb{
    margin-bottom: 15px;
}

input, select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    box-sizing: border-box;
    
}
select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../images/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center
}
#sub{
    color: whitesmoke;
    background-color: #4BC5CE;
    font-size: 18px;
    font-weight: bolder;
}

footer{
    background-color: #1b1e20;
    padding: 40px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;

}
.image{
    width: 160px;

}

.description{
    display: inline-block;
    text-align: justify;
    color: white;
    max-width: 40%;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
}
.description p{
    margin-bottom: 20px;

}
.description h3{
    font-size: 24px;
    margin-bottom: 20px;
}

@media screen and (max-width: 700px){
    .description{
        text-align: justify;
        max-width: 100%;
    }
}